:root {
--primery-text-color:#434455;
--title-text-color:#2E2F42;
--accent-color:#4D5AE5;
--white-color:#FFFFFF;
}



/* Колір фону та тексту для body */
body {
background-color: #FFFFFF;
color:var(--primery-text-color);
font-family: Roboto ,sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

/* Утиліти */
.list {
    list-style: none;
    padding: 0;
    margin: 0;

}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 2px solid tomato; */

}

img {
    display: block;
}

a {
    text-decoration: none;
}



/* Навігація , header */

header {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

/* logo */
.logo {
    color:#2E2F42;
    background-color:#FFFFFF;
    font-family: Raleway,sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
        /* identical to box height, or 133% */
    
       
    
}

/* Колір logo */
.logo > span {
    color:#4D5AE5 ;
 
}

/* Main nav */
.main-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 12px;
    padding-left: 12px;
   
}

/*Оформлення site-nav*/
.site-nav{ 
    display: flex;
    margin-left: 70px;
    
}

 .site-nav a { 
    color: #2E2F42;
     font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    margin-right: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
 }  
 
 .contacts a {
    margin-right: 0;
 }



.site-nav a:hover{
    color: #4D5AE5;
}

.site-nav a:focus {
    color:#4D5AE5;
}

.site-nav a.current {
    color: #4D5AE5;
}


/* Оформлення auth-nav */
.auth-nav{
    display: flex;
    margin-left:auto ;
}


.auth-nav a {
    color:#434455 ;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    margin-right: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
   
}

.number a{
    margin-right: 0;
}

.auth-nav a:hover {
    color: #4D5AE5;
}

.auth-nav a:focus {
    color: #4D5AE5;
}


/*hero*/

.hero {
    text-align: center;
    background-color: #2E2F42;
    padding-top:192px;
    padding-bottom:192px;
}


.hero-title {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 1;
        /* or 107% */
    text-align: center;
    margin-top: 0;
    margin-bottom: 48px;
   
    /* background-color:teal; */
}



/* Оформлення cекцій(за винятком hero) */
.section-title {
    color:var(--title-text-color);
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    /* identical to box height, or 120% */
    letter-spacing: 0.02em;
    margin-top: 0px;
    margin-bottom: 8px;
}



.section {
   padding-top: 120px;
   padding-bottom: 120px;
  
   
}
/* Cписок найпершої секції */
.first-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

/* Ширина тексту в <li> 1-ої секції */
 .item {
    width: 264px;
}


/* Cкидаємо margin для <p> секції */
.section p {
    margin-top: 0;
    margin-bottom: 0;
  

}
/* Скидаємо margin для <p> cекції */
.section-team p {
    margin-top: 0;
    margin-bottom: 0;
}


.section-presentation {
    color:var(--title-text-color);
    padding-bottom: 120px;
   
  
    
   
}
/* Список другої секції */
.second-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;
}

.presentation-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    margin-top: 0;
    margin-bottom: 72px;
    text-align: center;
}


.team-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    margin-bottom: 72px;
   
}


.section-team {
    color: var(--title-text-color);
    background-color: #F4F4FD;
    margin-top:0;
    margin-bottom: 0;
    padding-top: 120px;
    padding-bottom: 120px;
}
/* Список третьої секції */
.third-section {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.icon {
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
}

.team-member {
    margin-top: 32px;
    
}
/* Список четвертої секції */
.fourth-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.filter {
    padding-top: 96px;
    padding-bottom: 120px;
}

/* Список четвертої секції */
.fifth-section {
    display: flex;
    flex-wrap: wrap;
    margin-top: 72px;
    gap: 24px;
    justify-content: center;
    
}

.flex-element {
    margin-top: 48px;
}

.portfolio-card {
    margin-top: 32px;
}
.stylized-paragraph {
    margin-top: 0;
    padding-bottom: 32px;
}



/* Нижня рамка карток в портфоліо */
.frame {
    display: block;
    box-sizing: border-box;
    border-bottom: 0.5px #F4F4FD;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

/* Footer */
.footer-form {
    color:#E7E9FC ;
    background-color: #2E2F42;

}

.logo-footer  {
    color: #F4F4FD;
    font-family: Raleway,sans-serif;
    font-weight: 800;
     font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    /* identical to box height, or 133% */
    
       

}

.logo-footer>span {
    color:#4D5AE5;
      
}

.footer-form {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 12px;
    padding-right: 12px;
   
}

.footer-form p {
    margin-top: 16px;
    margin-bottom: 0;
   
}

/* Оформлення кнопки Order service */

.filter-btn {
    color:var(--white-color);
    background-color:var(--accent-color) ;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    width: 170px;
    height: 51px;
    left: 635px;
    top: 432px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);  
    border-radius: 4px;  
    border: 1px solid transparent ;
}

.filter-btn:hover,.filter-btn:focus
{  
    color: var(--accent-color);
    background-color: var(--white-color);
    cursor: pointer;


}

/* Оформлення кнопок в портфоліо */

.portfolio-btn {
    color: var(--accent-color);
    background-color: #F4F4FD;
    font-weight: 600;
    font-size: 16px;
    line-height: 1,5;
    letter-spacing: 0.04em;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    border: 1px solid transparent;;
}

.portfolio-btn:hover,.portfolio-btn:focus
{   
    color: var(--white-color);
    background-color: #4D5AE5;
    cursor: pointer;
}

/* Блокова модель */

*, ::after , ::before {
    box-sizing: border-box;
}










/*колір основного тексту #2E2F42*/

/*колір вторинного тексту #434455*/

/*білий колір #FFFFFF*/

/* акцент #4D5AE5*/

/* колір вторинного тексту №2 #E7E9FC*/

/* вторинний колір фону #F4F4FD*/

/* основний колір фону #F5F5F5*/

/* колір фону hero #2E2F42 */


